body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-preloader {
  top: 0;
  left: 0;
  z-index: 999;
  position: fixed;
  height: 100%;
  width: 100%;
  text-align: center;
}

.preloader-preview-area {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
  top: 50%;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  margin-top: 10px;
  max-height: calc(50% - 20px);
  opacity: 1;
  width: 100%;
  text-align: center;
  position: absolute;
}

.preloader-logo {
  max-width: 90%;
  top: 50%;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  margin: -10px auto 0 auto;
  max-height: calc(50% - 20px);
  opacity: 1;
  position: relative;
}

.ball-pulse > div {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
  -webkit-animation: ball-pulse 0.75s infinite
    cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: ball-pulse 0.75s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}

.ball-pulse > div:nth-child(1) {
  -webkit-animation-delay: -0.36s;
  animation-delay: -0.36s;
}

.ball-pulse > div:nth-child(2) {
  -webkit-animation-delay: -0.24s;
  animation-delay: -0.24s;
}

.ball-pulse > div:nth-child(3) {
  -webkit-animation-delay: -0.12s;
  animation-delay: -0.12s;
}

@-webkit-keyframes ball-pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  45% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }

  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes ball-pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  45% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }

  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.ball-clip-rotate-pulse {
  position: relative;
  -webkit-transform: translateY(-15px) translateX(-10px);
  -ms-transform: translateY(-15px) translateX(-10px);
  transform: translateY(-15px) translateX(-10px);
  display: inline-block;
}

.ball-clip-rotate-pulse > div {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;
}

.ball-clip-rotate-pulse > div:first-child {
  height: 36px;
  width: 36px;
  top: 7px;
  left: -7px;
  -webkit-animation: ball-clip-rotate-pulse-scale 1s 0s
    cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
  animation: ball-clip-rotate-pulse-scale 1s 0s
    cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
}

.ball-clip-rotate-pulse > div:last-child {
  position: absolute;
  width: 50px;
  height: 50px;
  left: -16px;
  top: -2px;
  background: 0 0;
  border: 2px solid;
  -webkit-animation: ball-clip-rotate-pulse-rotate 1s 0s
    cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
  animation: ball-clip-rotate-pulse-rotate 1s 0s
    cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes ball-clip-rotate-pulse-rotate {
  0% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
  }

  50% {
    -webkit-transform: rotate(180deg) scale(0.6);
    transform: rotate(180deg) scale(0.6);
  }

  100% {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}

@keyframes ball-clip-rotate-pulse-rotate {
  0% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
  }

  50% {
    -webkit-transform: rotate(180deg) scale(0.6);
    transform: rotate(180deg) scale(0.6);
  }

  100% {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}

@-webkit-keyframes ball-clip-rotate-pulse-scale {
  30% {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes ball-clip-rotate-pulse-scale {
  30% {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes square-spin {
  25% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
    transform: perspective(100px) rotateX(180deg) rotateY(0);
  }

  50% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
    transform: perspective(100px) rotateX(180deg) rotateY(180deg);
  }

  75% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
    transform: perspective(100px) rotateX(0) rotateY(180deg);
  }

  100% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
    transform: perspective(100px) rotateX(0) rotateY(0);
  }
}

@keyframes square-spin {
  25% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
    transform: perspective(100px) rotateX(180deg) rotateY(0);
  }

  50% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
    transform: perspective(100px) rotateX(180deg) rotateY(180deg);
  }

  75% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
    transform: perspective(100px) rotateX(0) rotateY(180deg);
  }

  100% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
    transform: perspective(100px) rotateX(0) rotateY(0);
  }
}

.square-spin {
  display: inline-block;
}

.square-spin > div {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  width: 50px;
  height: 50px;
  -webkit-animation: square-spin 3s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9)
    infinite;
  animation: square-spin 3s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
}

.cube-transition {
  position: relative;
  -webkit-transform: translate(-25px, -25px);
  -ms-transform: translate(-25px, -25px);
  transform: translate(-25px, -25px);
  display: inline-block;
}

.cube-transition > div {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  width: 15px;
  height: 15px;
  position: absolute;
  top: -5px;
  left: -5px;
  -webkit-animation: cube-transition 1.6s 0s infinite ease-in-out;
  animation: cube-transition 1.6s 0s infinite ease-in-out;
}

.cube-transition > div:last-child {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes cube-transition {
  25% {
    -webkit-transform: translateX(50px) scale(0.5) rotate(-90deg);
    transform: translateX(50px) scale(0.5) rotate(-90deg);
  }

  50% {
    -webkit-transform: translate(50px, 50px) rotate(-180deg);
    transform: translate(50px, 50px) rotate(-180deg);
  }

  75% {
    -webkit-transform: translateY(50px) scale(0.5) rotate(-270deg);
    transform: translateY(50px) scale(0.5) rotate(-270deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes cube-transition {
  25% {
    -webkit-transform: translateX(50px) scale(0.5) rotate(-90deg);
    transform: translateX(50px) scale(0.5) rotate(-90deg);
  }

  50% {
    -webkit-transform: translate(50px, 50px) rotate(-180deg);
    transform: translate(50px, 50px) rotate(-180deg);
  }

  75% {
    -webkit-transform: translateY(50px) scale(0.5) rotate(-270deg);
    transform: translateY(50px) scale(0.5) rotate(-270deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.ball-scale > div {
  border-radius: 100%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
  height: 60px;
  width: 60px;
  -webkit-animation: ball-scale 1s 0s ease-in-out infinite;
  animation: ball-scale 1s 0s ease-in-out infinite;
}

@-webkit-keyframes ball-scale {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes ball-scale {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

.line-scale > div {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
  width: 5px;
  height: 50px;
  border-radius: 2px;
  margin: 2px;
}

.line-scale > div:nth-child(1) {
  -webkit-animation: line-scale 1s -0.5s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: line-scale 1s -0.5s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}

.line-scale > div:nth-child(2) {
  -webkit-animation: line-scale 1s -0.4s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: line-scale 1s -0.4s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}

.line-scale > div:nth-child(3) {
  -webkit-animation: line-scale 1s -0.3s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: line-scale 1s -0.3s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}

.line-scale > div:nth-child(4) {
  -webkit-animation: line-scale 1s -0.2s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: line-scale 1s -0.2s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}

.line-scale > div:nth-child(5) {
  -webkit-animation: line-scale 1s -0.1s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: line-scale 1s -0.1s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}

@-webkit-keyframes line-scale {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }

  50% {
    -webkit-transform: scaley(0.4);
    transform: scaley(0.4);
  }

  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
}

@keyframes line-scale {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }

  50% {
    -webkit-transform: scaley(0.4);
    transform: scaley(0.4);
  }

  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
}

.ball-scale-multiple {
  position: relative;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
  display: inline-block;
}

.ball-scale-multiple > div {
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  margin: 2px;
  position: absolute;
  left: -30px;
  top: 0;
  opacity: 0;
  margin: 0;
  width: 50px;
  height: 50px;
  -webkit-animation: ball-scale-multiple 1s 0s linear infinite;
  animation: ball-scale-multiple 1s 0s linear infinite;
}

.ball-scale-multiple > div:nth-child(2) {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.ball-scale-multiple > div:nth-child(3) {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

@-webkit-keyframes ball-scale-multiple {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes ball-scale-multiple {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

.ball-pulse-sync {
  display: inline-block;
}

.ball-pulse-sync > div {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
}

.ball-pulse-sync > div:nth-child(1) {
  -webkit-animation: ball-pulse-sync 0.6s -0.21s infinite ease-in-out;
  animation: ball-pulse-sync 0.6s -0.21s infinite ease-in-out;
}

.ball-pulse-sync > div:nth-child(2) {
  -webkit-animation: ball-pulse-sync 0.6s -0.14s infinite ease-in-out;
  animation: ball-pulse-sync 0.6s -0.14s infinite ease-in-out;
}

.ball-pulse-sync > div:nth-child(3) {
  -webkit-animation: ball-pulse-sync 0.6s -70ms infinite ease-in-out;
  animation: ball-pulse-sync 0.6s -70ms infinite ease-in-out;
}

@-webkit-keyframes ball-pulse-sync {
  33% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  66% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes ball-pulse-sync {
  33% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  66% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.transparent-circle {
  display: inline-block;
  border-top: 0.5em solid rgba(255, 255, 255, 0.2);
  border-right: 0.5em solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.5em solid rgba(255, 255, 255, 0.2);
  border-left: 0.5em solid #fff;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: transparent-circle 1.1s infinite linear;
  animation: transparent-circle 1.1s infinite linear;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.transparent-circle:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

@-webkit-keyframes transparent-circle {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes transparent-circle {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.ball-spin-fade-loader {
  position: relative;
  top: -10px;
  left: -10px;
  display: inline-block;
}

.ball-spin-fade-loader > div {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  -webkit-animation: ball-spin-fade-loader 1s infinite linear;
  animation: ball-spin-fade-loader 1s infinite linear;
}

.ball-spin-fade-loader > div:nth-child(1) {
  top: 25px;
  left: 0;
  animation-delay: -0.84s;
  -webkit-animation-delay: -0.84s;
}

.ball-spin-fade-loader > div:nth-child(2) {
  top: 17.05px;
  left: 17.05px;
  animation-delay: -0.72s;
  -webkit-animation-delay: -0.72s;
}

.ball-spin-fade-loader > div:nth-child(3) {
  top: 0;
  left: 25px;
  animation-delay: -0.6s;
  -webkit-animation-delay: -0.6s;
}

.ball-spin-fade-loader > div:nth-child(4) {
  top: -17.05px;
  left: 17.05px;
  animation-delay: -0.48s;
  -webkit-animation-delay: -0.48s;
}

.ball-spin-fade-loader > div:nth-child(5) {
  top: -25px;
  left: 0;
  animation-delay: -0.36s;
  -webkit-animation-delay: -0.36s;
}

.ball-spin-fade-loader > div:nth-child(6) {
  top: -17.05px;
  left: -17.05px;
  animation-delay: -0.24s;
  -webkit-animation-delay: -0.24s;
}

.ball-spin-fade-loader > div:nth-child(7) {
  top: 0;
  left: -25px;
  animation-delay: -0.12s;
  -webkit-animation-delay: -0.12s;
}

.ball-spin-fade-loader > div:nth-child(8) {
  top: 17.05px;
  left: -17.05px;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

@-webkit-keyframes ball-spin-fade-loader {
  50% {
    opacity: 0.3;
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes ball-spin-fade-loader {
  50% {
    opacity: 0.3;
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.vc_custom_1569595094188 {
  padding-top: 10px !important;
  padding-right: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 10px !important;
}

.vc_custom_1582378813304 {
  margin-bottom: 0px !important;
}

.vc_custom_1570096376772 {
  margin-bottom: 0px !important;
}

.vc_custom_1573641186536 {
  margin-bottom: 0px !important;
}

.vc_custom_1553679745464 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  border-top-width: 0px !important;
  padding-top: 0px !important;
}

.vc_custom_1553679737105 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  border-top-width: 0px !important;
  padding-top: 0px !important;
}

.vc_custom_1553679762427 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  border-top-width: 0px !important;
  padding-top: 0px !important;
}

.vc_custom_1553679756270 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  border-top-width: 0px !important;
  padding-top: 0px !important;
}

.vc_custom_1553679778045 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  border-top-width: 0px !important;
  padding-top: 0px !important;
}

.vc_custom_1553679771785 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  border-top-width: 0px !important;
  padding-top: 0px !important;
}
.wpb_animate_when_almost_visible {
  opacity: 1;
}

.fancybox-margin {
  margin-right: 17px;
}

[responsive-image] > img,
[data-responsive-image] {
  overflow: hidden;
  padding: 0;
}

[responsive-image] > img,
[data-responsive-image] > img {
  width: 100%;
}

@keyframes element-queries {
  0% {
    visibility: inherit;
  }
}

.mk-process-steps {
  animation: 0.1s element-queries;
}

.mk-process-steps > .resize-sensor {
  min-width: 0px;
}

.mk-event-countdown-ul {
  animation: 0.1s element-queries;
}

.mk-event-countdown-ul > .resize-sensor {
  min-width: 1px;
}

@keyframes resizeanim {
  from {
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}

.resize-triggers {
  animation: 1ms resizeanim;
  visibility: hidden;
  opacity: 0;
}

.resize-triggers,
.resize-triggers > div,
.contract-trigger:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.resize-triggers > div {
  background: #eee;
  overflow: auto;
}

.contract-trigger:before {
  width: 200%;
  height: 200%;
}

.fomo-notification.fomo-notification-animation-fade-in {
  -webkit-animation: fomoFadeIn 1s;
  -o-animation: fomoFadeIn 1s;
  animation: fomoFadeIn 1s;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fomo-notification.fomo-notification-animation-fade-out {
  -webkit-animation: fomoFadeOut 1s;
  -o-animation: fomoFadeOut 1s;
  animation: fomoFadeOut 1s;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fomo-notification.fomo-notification-animation-horizontal,
.fomo-notification.fomo-notification-animation-vertical {
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fomoFadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fomoFadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fomoFadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fomoFadeOut {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-o-keyframes fomoFadeOut {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fomoFadeOut {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes fomoSlideOutHorizontalLeft {
  to {
    opacity: 0;
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }
}

@-o-keyframes fomoSlideOutHorizontalLeft {
  to {
    opacity: 0;
    -o-transform: translateX(-200%);
    transform: translateX(-200%);
  }
}

@keyframes fomoSlideOutHorizontalLeft {
  to {
    opacity: 0;
    -webkit-transform: translateX(-200%);
    -o-transform: translateX(-200%);
    transform: translateX(-200%);
  }
}

@-webkit-keyframes fomoSlideInHorizontalRight {
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-o-keyframes fomoSlideInHorizontalRight {
  to {
    opacity: 1;
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fomoSlideInHorizontalRight {
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes fomoSlideOutHorizontalRight {
  to {
    opacity: 0;
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
  }
}

@-o-keyframes fomoSlideOutHorizontalRight {
  to {
    opacity: 0;
    -o-transform: translateX(200%);
    transform: translateX(200%);
  }
}

@keyframes fomoSlideOutHorizontalRight {
  to {
    opacity: 0;
    -webkit-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%);
  }
}

@-webkit-keyframes fomoSlideOutVerticalBottom {
  to {
    opacity: 1;
    -webkit-transform: translateY(200%);
    transform: translateY(200%);
  }
}

@-o-keyframes fomoSlideOutVerticalBottom {
  to {
    opacity: 1;
    -o-transform: translateY(200%);
    transform: translateY(200%);
  }
}

@keyframes fomoSlideOutVerticalBottom {
  to {
    opacity: 1;
    -webkit-transform: translateY(200%);
    -o-transform: translateY(200%);
    transform: translateY(200%);
  }
}

@-webkit-keyframes fomoSlideOutVerticalBottomCenter {
  to {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(200%);
    transform: translateX(-50%) translateY(200%);
  }
}

@-o-keyframes fomoSlideOutVerticalBottomCenter {
  to {
    opacity: 1;
    -o-transform: translateX(-50%) translateY(200%);
    transform: translateX(-50%) translateY(200%);
  }
}

@keyframes fomoSlideOutVerticalBottomCenter {
  to {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(200%);
    -o-transform: translateX(-50%) translateY(200%);
    transform: translateX(-50%) translateY(200%);
  }
}

@-webkit-keyframes fomoSlideInVerticalTop {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes fomoSlideInVerticalTop {
  to {
    opacity: 1;
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fomoSlideInVerticalTop {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes fomoSlideOutVerticalTop {
  to {
    opacity: 1;
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }
}

@-o-keyframes fomoSlideOutVerticalTop {
  to {
    opacity: 1;
    -o-transform: translateY(-200%);
    transform: translateY(-200%);
  }
}

@keyframes fomoSlideOutVerticalTop {
  to {
    opacity: 1;
    -webkit-transform: translateY(-200%);
    -o-transform: translateY(-200%);
    transform: translateY(-200%);
  }
}

@-webkit-keyframes fomoSlideInVerticalTopCenter {
  to {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
  }
}

@-o-keyframes fomoSlideInVerticalTopCenter {
  to {
    opacity: 1;
    -o-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes fomoSlideInVerticalTopCenter {
  to {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(0);
    -o-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
  }
}

@-webkit-keyframes fomoSlideOutVerticalTopCenter {
  to {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-200%);
    transform: translateX(-50%) translateY(-200%);
  }
}

@-o-keyframes fomoSlideOutVerticalTopCenter {
  to {
    opacity: 1;
    -o-transform: translateX(-50%) translateY(-200%);
    transform: translateX(-50%) translateY(-200%);
  }
}

@keyframes fomoSlideOutVerticalTopCenter {
  to {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-200%);
    -o-transform: translateX(-50%) translateY(-200%);
    transform: translateX(-50%) translateY(-200%);
  }
}

.fomo-notification.fomo-notification-position-bottom-left,
.fomo-notification.fomo-notification-position-top-left {
  -webkit-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

.fomo-notification.fomo-notification-position-bottom-left.fomo-notification-animation-horizontal.fomo-notification-show,
.fomo-notification.fomo-notification-position-top-left.fomo-notification-animation-horizontal.fomo-notification-show {
  -webkit-transform: translateX(-200%);
  -ms-transform: translateX(-200%);
  -o-transform: translateX(-200%);
  transform: translateX(-200%);
  opacity: 0;
  -webkit-animation-name: fomoSlideInHorizontalRight;
  -o-animation-name: fomoSlideInHorizontalRight;
  animation-name: fomoSlideInHorizontalRight;
}

.fomo-notification.fomo-notification-position-bottom-left.fomo-notification-animation-horizontal.fomo-notification-hide,
.fomo-notification.fomo-notification-position-top-left.fomo-notification-animation-horizontal.fomo-notification-hide {
  -webkit-animation-name: fomoSlideOutHorizontalLeft;
  -o-animation-name: fomoSlideOutHorizontalLeft;
  animation-name: fomoSlideOutHorizontalLeft;
}

.fomo-notification.fomo-notification-position-bottom-left.fomo-notification-animation-vertical.fomo-notification-show {
  -webkit-transform: translateY(200%);
  -ms-transform: translateY(200%);
  -o-transform: translateY(200%);
  transform: translateY(200%);
  opacity: 0;
  -webkit-animation-name: fomoSlideInVerticalTop;
  -o-animation-name: fomoSlideInVerticalTop;
  animation-name: fomoSlideInVerticalTop;
}

.fomo-notification.fomo-notification-position-bottom-left.fomo-notification-animation-vertical.fomo-notification-hide {
  -webkit-animation-name: fomoSlideOutVerticalBottom;
  -o-animation-name: fomoSlideOutVerticalBottom;
  animation-name: fomoSlideOutVerticalBottom;
}

.fomo-notification.fomo-notification-position-top-left {
  bottom: auto;
  top: 20px;
}

.fomo-notification.fomo-notification-position-top-left.fomo-notification-animation-vertical.fomo-notification-show {
  -webkit-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  -o-transform: translateY(-200%);
  transform: translateY(-200%);
  opacity: 0;
  -webkit-animation-name: fomoSlideInVerticalTop;
  -o-animation-name: fomoSlideInVerticalTop;
  animation-name: fomoSlideInVerticalTop;
}

.fomo-notification.fomo-notification-position-top-left.fomo-notification-animation-vertical.fomo-notification-hide {
  -webkit-animation-name: fomoSlideOutVerticalTop;
  -o-animation-name: fomoSlideOutVerticalTop;
  animation-name: fomoSlideOutVerticalTop;
}

.fomo-notification.fomo-notification-position-bottom-right,
.fomo-notification.fomo-notification-position-top-right {
  -webkit-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

.fomo-notification.fomo-notification-position-bottom-right.fomo-notification-animation-horizontal.fomo-notification-show,
.fomo-notification.fomo-notification-position-top-right.fomo-notification-animation-horizontal.fomo-notification-show {
  -webkit-transform: translateX(200%);
  -ms-transform: translateX(200%);
  -o-transform: translateX(200%);
  transform: translateX(200%);
  opacity: 0;
  -webkit-animation-name: fomoSlideInHorizontalRight;
  -o-animation-name: fomoSlideInHorizontalRight;
  animation-name: fomoSlideInHorizontalRight;
}

.fomo-notification.fomo-notification-position-bottom-right.fomo-notification-animation-horizontal.fomo-notification-hide,
.fomo-notification.fomo-notification-position-top-right.fomo-notification-animation-horizontal.fomo-notification-hide {
  -webkit-animation-name: fomoSlideOutHorizontalRight;
  -o-animation-name: fomoSlideOutHorizontalRight;
  animation-name: fomoSlideOutHorizontalRight;
}

.fomo-notification.fomo-notification-position-top-right {
  right: 20px;
  top: 20px;
  left: auto;
  bottom: auto;
}

.fomo-notification.fomo-notification-position-top-right.fomo-notification-animation-vertical.fomo-notification-show {
  -webkit-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  -o-transform: translateY(-200%);
  transform: translateY(-200%);
  opacity: 0;
  -webkit-animation-name: fomoSlideInVerticalTop;
  -o-animation-name: fomoSlideInVerticalTop;
  animation-name: fomoSlideInVerticalTop;
}

.fomo-notification.fomo-notification-position-top-right.fomo-notification-animation-vertical.fomo-notification-hide {
  -webkit-animation-name: fomoSlideOutVerticalTop;
  -o-animation-name: fomoSlideOutVerticalTop;
  animation-name: fomoSlideOutVerticalTop;
}

.fomo-notification.fomo-notification-position-bottom-right {
  right: 20px;
  left: auto;
}

.fomo-notification.fomo-notification-position-bottom-right.fomo-notification-animation-vertical.fomo-notification-show {
  -webkit-transform: translateY(200%);
  -ms-transform: translateY(200%);
  -o-transform: translateY(200%);
  transform: translateY(200%);
  opacity: 0;
  -webkit-animation-name: fomoSlideInVerticalTop;
  -o-animation-name: fomoSlideInVerticalTop;
  animation-name: fomoSlideInVerticalTop;
}

.fomo-notification.fomo-notification-position-bottom-right.fomo-notification-animation-vertical.fomo-notification-hide {
  -webkit-animation-name: fomoSlideOutVerticalBottom;
  -o-animation-name: fomoSlideOutVerticalBottom;
  animation-name: fomoSlideOutVerticalBottom;
}

.fomo-notification.fomo-notification-position-bottom-center {
  left: 50% !important;
  -webkit-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

.fomo-notification.fomo-notification-position-bottom-center.fomo-notification-animation-vertical.fomo-notification-show {
  -webkit-transform: translateX(-50%) translateY(200%);
  -ms-transform: translateX(-50%) translateY(200%);
  -o-transform: translateX(-50%) translateY(200%);
  transform: translateX(-50%) translateY(200%);
  opacity: 0;
  -webkit-animation-name: fomoSlideInVerticalTopCenter;
  -o-animation-name: fomoSlideInVerticalTopCenter;
  animation-name: fomoSlideInVerticalTopCenter;
}

.fomo-notification.fomo-notification-position-bottom-center.fomo-notification-animation-vertical.fomo-notification-hide {
  -webkit-transform: translateX(-50%) translateY(0);
  -ms-transform: translateX(-50%) translateY(0);
  -o-transform: translateX(-50%) translateY(0);
  transform: translateX(-50%) translateY(0);
  -webkit-animation-name: fomoSlideOutVerticalBottomCenter;
  -o-animation-name: fomoSlideOutVerticalBottomCenter;
  animation-name: fomoSlideOutVerticalBottomCenter;
}

.fomo-notification.fomo-notification-position-top-center {
  bottom: auto;
  top: 20px;
  left: 50% !important;
  -webkit-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

.fomo-notification.fomo-notification-position-top-center.fomo-notification-animation-vertical.fomo-notification-show {
  -webkit-transform: translateX(-50%) translateY(-100%);
  -ms-transform: translateX(-50%) translateY(-100%);
  -o-transform: translateX(-50%) translateY(-100%);
  transform: translateX(-50%) translateY(-100%);
  opacity: 0;
  -webkit-animation-name: fomoSlideInVerticalTopCenter;
  -o-animation-name: fomoSlideInVerticalTopCenter;
  animation-name: fomoSlideInVerticalTopCenter;
}

.fomo-notification.fomo-notification-position-top-center.fomo-notification-animation-vertical.fomo-notification-hide {
  -webkit-transform: translateX(-50%) translateY(0);
  -ms-transform: translateX(-50%) translateY(0);
  -o-transform: translateX(-50%) translateY(0);
  transform: translateX(-50%) translateY(0);
  -webkit-animation-name: fomoSlideOutVerticalTopCenter;
  -o-animation-name: fomoSlideOutVerticalTopCenter;
  animation-name: fomoSlideOutVerticalTopCenter;
}

@media only screen and (max-width: 420px) {
  .fomo-notification.fomo-notification-mobile-position-bottom,
  .fomo-notification.fomo-notification-mobile-position-top {
    width: calc(100% - 20px);
    left: 10px !important;
  }
}

@media only screen and (max-width: 420px) {
  .fomo-notification.fomo-notification-mobile-position-bottom {
    bottom: 10px;
    top: auto;
  }

  .fomo-notification.fomo-notification-mobile-position-bottom.fomo-notification-animation-vertical.fomo-notification-show {
    -webkit-transform: translateY(200%);
    -ms-transform: translateY(200%);
    -o-transform: translateY(200%);
    transform: translateY(200%);
    opacity: 0;
    -webkit-animation-name: fomoSlideInVerticalTop;
    -o-animation-name: fomoSlideInVerticalTop;
    animation-name: fomoSlideInVerticalTop;
  }

  .fomo-notification.fomo-notification-mobile-position-bottom.fomo-notification-animation-vertical.fomo-notification-hide {
    -webkit-transform: translateX(0) translateY(0);
    -ms-transform: translateX(0) translateY(0);
    -o-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
    -webkit-animation-name: fomoSlideOutVerticalBottom;
    -o-animation-name: fomoSlideOutVerticalBottom;
    animation-name: fomoSlideOutVerticalBottom;
  }
}

@media only screen and (max-width: 420px) {
  .fomo-notification.fomo-notification-mobile-position-top {
    top: 10px;
    bottom: auto;
  }

  .fomo-notification.fomo-notification-mobile-position-top.fomo-notification-animation-vertical.fomo-notification-show {
    -webkit-transform: translateX(0) translateY(-200%);
    -ms-transform: translateX(0) translateY(-200%);
    -o-transform: translateX(0) translateY(-200%);
    transform: translateX(0) translateY(-200%);
    opacity: 0;
    -webkit-animation-name: fomoSlideInVerticalTop;
    -o-animation-name: fomoSlideInVerticalTop;
    animation-name: fomoSlideInVerticalTop;
  }

  .fomo-notification.fomo-notification-mobile-position-top.fomo-notification-animation-vertical.fomo-notification-hide {
    -webkit-transform: translateX(0) translateY(0);
    -ms-transform: translateX(0) translateY(0);
    -o-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
    -webkit-animation-name: fomoSlideOutVerticalTop;
    -o-animation-name: fomoSlideOutVerticalTop;
    animation-name: fomoSlideOutVerticalTop;
  }
}

@media only screen and (max-width: 420px) {
  .fomo-notification.fomo-notification-mobile-position-top.fomo-notification-ad {
    top: 20px;
  }
}

.fomo-notification .fomo-animation-count-up {
  display: none;
  font-variant-numeric: tabular-nums;
}

.fomo-notification .fomo-animation-tada {
  -webkit-animation-name: fomo-animation-tada;
  -o-animation-name: fomo-animation-tada;
  animation-name: fomo-animation-tada;
  -webkit-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
}

.fomo-notification .fomo-animation-arrow svg {
  -webkit-animation: fomo-animation-arrow 2s infinite;
  -o-animation: fomo-animation-arrow 2s infinite;
  animation: fomo-animation-arrow 2s infinite;
  display: inline-block;
  height: 9px;
  width: 7px;
  vertical-align: middle;
  margin: 0 5px 1px 2px;
}

.fomo-notification.fomo-notification-font-sm .fomo-animation-arrow svg {
  height: 8px;
  width: 6px;
}

@-webkit-keyframes fomo-animation-tada {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  10%,
  20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  to {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

@-o-keyframes fomo-animation-tada {
  0% {
    -o-transform: scale(1);
    transform: scale(1);
  }

  10%,
  20% {
    -o-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -o-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  40%,
  60%,
  80% {
    -o-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  to {
    -o-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

@keyframes fomo-animation-tada {
  0% {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  10%,
  20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
    -o-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale(1.1) rotate(3deg);
    -o-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
    -o-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  to {
    -webkit-transform: scale(1) rotate(0);
    -o-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

@-webkit-keyframes fomo-animation-arrow {
  0%,
  20%,
  50%,
  80%,
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  40% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }

  60% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
}

@-o-keyframes fomo-animation-arrow {
  0%,
  20%,
  50%,
  80%,
  to {
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  40% {
    -o-transform: translateX(5px);
    transform: translateX(5px);
  }

  60% {
    -o-transform: translateX(2px);
    transform: translateX(2px);
  }
}

@keyframes fomo-animation-arrow {
  0%,
  20%,
  50%,
  80%,
  to {
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  40% {
    -webkit-transform: translateX(5px);
    -o-transform: translateX(5px);
    transform: translateX(5px);
  }

  60% {
    -webkit-transform: translateX(2px);
    -o-transform: translateX(2px);
    transform: translateX(2px);
  }
}

.fomo-notification.fomo-hover-animation-float,
.fomo-notification.fomo-hover-animation-forward {
  -webkit-transition: margin 0.3s cubic-bezier(0.42, 0.97, 0.52, 1.49);
  -o-transition: margin 0.3s cubic-bezier(0.42, 0.97, 0.52, 1.49);
  transition: margin 0.3s cubic-bezier(0.42, 0.97, 0.52, 1.49);
}

.fomo-notification.fomo-notification-position-bottom-center.fomo-hover-animation-forward:hover,
.fomo-notification.fomo-notification-position-bottom-left.fomo-hover-animation-forward:hover,
.fomo-notification.fomo-notification-position-none.fomo-hover-animation-forward:hover,
.fomo-notification.fomo-notification-position-top-center.fomo-hover-animation-forward:hover,
.fomo-notification.fomo-notification-position-top-left.fomo-hover-animation-forward:hover {
  /* !important - this required because we set `notificationDiv.style.marginLeft = "0px";` in widget.js - legacy from v1 themes. Need to review and remove */
  margin-left: 10px !important;
}

.fomo-notification.fomo-notification-position-bottom-right.fomo-hover-animation-forward:hover,
.fomo-notification.fomo-notification-position-top-right.fomo-hover-animation-forward:hover {
  margin-right: 10px;
}

.fomo-notification.fomo-notification-position-bottom-center.fomo-hover-animation-float:hover,
.fomo-notification.fomo-notification-position-bottom-left.fomo-hover-animation-float:hover,
.fomo-notification.fomo-notification-position-bottom-right.fomo-hover-animation-float:hover,
.fomo-notification.fomo-notification-position-none.fomo-hover-animation-float:hover {
  margin-bottom: 10px;
}

.fomo-notification.fomo-notification-position-top-center.fomo-hover-animation-float:hover,
.fomo-notification.fomo-notification-position-top-left.fomo-hover-animation-float:hover,
.fomo-notification.fomo-notification-position-top-right.fomo-hover-animation-float:hover {
  margin-top: 10px;
}

.fomo-notification.fomo-notification-position-none.fomo-hover-animation-forward:hover {
  margin-left: 10px;
  margin-right: 0;
}

.fomo-notification.fomo-notification-position-none.fomo-hover-animation-float:hover {
  margin-top: 0;
  margin-bottom: 10px;
}

.fomo-notification {
  display: none;
  width: 320px;
  border: 0;
  bottom: 20px;
  left: 20px;
  position: fixed;
  text-align: left;
  z-index: 99999;
  font-family: inherit;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 400;
  border-radius: 6px;
  -webkit-box-shadow: 2px 2px 10px 2px hsla(0, 0%, 60%, 0.2);
  box-shadow: 2px 2px 10px 2px hsla(0, 0%, 60%, 0.2);
  background-color: #fff;
}

.fomo-notification:hover #fomo-close {
  opacity: 0.8;
  visibility: visible;
}

.fomo-notification *,
.fomo-notification :after,
.fomo-notification :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.fomo-notification .fomo-notification-powered-by {
  margin-top: 3px !important;
  display: block !important;
  font-size: 10px !important;
  color: #474ba5;
  opacity: 0.5;
  position: absolute;
  bottom: 3px;
  right: 6px;
  font-size: 10px;
  vertical-align: bottom;
}

.fomo-notification .fomo-notification-ad-by {
  display: none;
  visibility: hidden;
}

.fomo-notification .fomo-notification-ad-by a,
.fomo-notification .fomo-notification-ad-by a:hover {
  text-decoration: none;
  cursor: pointer;
}

.fomo-notification.fomo-notification-ad {
  z-index: 2147483647;
}

.fomo-notification.fomo-notification-ad .fomo-notification-ad-by {
  margin: 0;
  display: block !important;
  visibility: visible;
  font-size: 12px !important;
  position: absolute;
  top: -24px !important;
  left: 2px;
}

.fomo-notification .fomo-notification-container {
  display: table !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 80px;
}

.fomo-notification .fomo-notification-content-wrapper {
  margin: 0;
  height: 100%;
  color: gray;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0 6px 6px 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: table-cell !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: middle;
}

.fomo-notification
  .fomo-notification-content-wrapper
  .fomo-notification-content {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 16px;
  line-height: 16px;
}

.fomo-notification
  .fomo-notification-content-wrapper
  .fomo-notification-content-info {
  display: block !important;
}

.fomo-notification .fomo-notification-content-wrapper a {
  color: inherit;
  font-weight: 700 !important;
  text-decoration: none !important;
}

.fomo-notification
  .fomo-notification-content-wrapper
  .fomo-notification-powered-by,
.fomo-notification .fomo-notification-content-wrapper small {
  margin-top: 3px !important;
  display: block !important;
  font-size: 10px !important;
  opacity: 0.5;
}

.fomo-notification .fomo-notification-content-wrapper small {
  margin-right: 6px;
  vertical-align: middle;
}

.fomo-notification
  .fomo-notification-content-wrapper
  .fomo-notification-powered-by {
  font-size: 10px;
  vertical-align: bottom;
}

.fomo-notification .fomo-notification-image-wrapper {
  height: 80px;
  width: 80px;
  overflow: hidden;
  display: table-cell !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  vertical-align: middle;
  border-radius: 6px 0 0 6px;
  text-align: center;
}

.fomo-notification .fomo-notification-image-wrapper img {
  max-width: 100% !important;
  width: auto;
  height: 100%;
}

.fomo-notification
  .fomo-notification-image-wrapper.fomo-notification-image-is-landscape
  img {
  position: relative;
  max-width: 100% !important;
  width: auto;
  max-height: 100% !important;
  height: auto;
}

.fomo-notification .fomo-notification-image-wrapper-inside {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.fomo-notification.fomo-notification-no-image .fomo-notification-image-wrapper {
  display: none !important;
}

.fomo-notification.fomo-notification-pointer,
.fomo-notification .fomo-notification-pointer {
  cursor: pointer;
}

.fomo-notification #fomo-close {
  position: absolute;
  top: 2px;
  right: 2px;
  height: 24px;
  width: 24px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media only screen and (max-width: 420px) {
  .fomo-notification #fomo-close {
    opacity: 0.8;
    visibility: visible;
    top: -10px;
    right: -10px;
    height: 48px;
    width: 48px;
  }
}

.fomo-notification #fomo-close:before {
  width: 12px;
  height: 2px;
}

.fomo-notification #fomo-close:after,
.fomo-notification #fomo-close:before {
  content: "";
  display: block;
  background-color: gray;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.fomo-notification #fomo-close:after {
  height: 12px;
  width: 2px;
}

.fomo-notification.fomo-notification-no-shadow {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.fomo-notification-no-image .fomo-notification-content-wrapper {
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 6px;
}

.fomo-notification-font-lg.fomo-notification-no-image
  .fomo-notification-content-wrapper {
  padding-right: 80px;
}

.fomo-notification-font-md
  .fomo-notification-content-wrapper
  .fomo-notification-content {
  font-size: 14px;
  line-height: 14px;
}

.fomo-notification-font-sm
  .fomo-notification-content-wrapper
  .fomo-notification-content {
  font-size: 12px;
  line-height: 14px;
}

.fomo-notification-font-xs .fomo-notification-content-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0;
}

.fomo-notification-font-xs
  .fomo-notification-content-wrapper
  .fomo-notification-content {
  font-size: 10px;
  line-height: 12px;
}

.fomo-notification.fomo-notification-v2-shorty {
  width: 236px;
}

.fomo-notification.fomo-notification-v2-shorty .fomo-notification-container {
  min-height: 40px;
  height: auto;
}

.fomo-notification.fomo-notification-v2-shorty
  .fomo-notification-content-wrapper {
  padding-left: 8px;
}

.fomo-notification.fomo-notification-v2-shorty.fomo-notification-no-image
  .fomo-notification-content-wrapper {
  padding-right: 24px;
  padding-left: 24px;
}

.fomo-notification.fomo-notification-v2-shorty
  .fomo-notification-content-wrapper
  .fomo-notification-content {
  font-size: 12px;
  line-height: 14px;
  padding: 6px 0 !important;
}

.fomo-notification.fomo-notification-v2-shorty
  .fomo-notification-content-wrapper
  .fomo-notification-content
  .fomo-notification-powered-by,
.fomo-notification.fomo-notification-v2-shorty
  .fomo-notification-content-wrapper
  .fomo-notification-content
  small {
  display: none !important;
}

.fomo-notification.fomo-notification-v2-shorty
  .fomo-notification-image-wrapper {
  max-height: 40px;
  width: 40px;
}

.fomo-notification.fomo-notification-v2-shorty #fomo-close {
  height: 18px;
  width: 18px;
  top: 3px;
  right: 3px;
}

/* We recommend that you also apply !important */
/* Note: This will override Fine Tune settings */
.fomo-notification-v2-shorty {
}

.fomo-notification-v2-shorty .fomo-notification-content-wrapper p {
}

.fomo-notification-v2-shorty .fomo-notification-content-wrapper a {
}

.fomo-notification-v2-shorty .fomo-notification-image-wrapper {
}

.fomo-notification-v2-shorty .fomo-notification-image-wrapper img {
}
.nivoSlider {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.nivoSlider img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: none;
}

.nivo-main-image {
  display: block !important;
  position: relative !important;
  width: 100% !important;
}

.nivoSlider a.nivo-imageLink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  z-index: 6;
  display: none;
  background: #fff;
  filter: alpha(opacity=0);
  opacity: 0;
}

.nivo-slice {
  display: block;
  position: absolute;
  z-index: 5;
  height: 100%;
  top: 0;
}

.nivo-box {
  display: block;
  position: absolute;
  z-index: 5;
  overflow: hidden;
}

.nivo-box img {
  display: block;
}

.nivo-caption {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #000;
  color: #fff;
  width: 100%;
  z-index: 8;
  padding: 5px 10px;
  opacity: 0.8;
  overflow: hidden;
  display: none;
  -moz-opacity: 0.8;
  filter: alpha(opacity=8);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nivo-caption p {
  padding: 5px;
  margin: 0;
}

.nivo-caption a {
  display: inline !important;
}

.nivo-html-caption {
  display: none;
}

.nivo-directionNav a {
  position: absolute;
  top: 45%;
  z-index: 9;
  cursor: pointer;
}

.nivo-prevNav {
  left: 0;
}

.nivo-nextNav {
  right: 0;
}

.nivo-controlNav {
  text-align: center;
  padding: 15px 0;
}

.nivo-controlNav a {
  cursor: pointer;
}

.nivo-controlNav a.active {
  font-weight: 700;
}

.nivo-controlNav img {
  display: inline;
  position: relative;
  margin: 5px;
  opacity: 0.7;
}

.nivo-controlNav .active img,
.nivo-controlNav img:hover {
  opacity: 1;
}

body .metaslider .coin-slider,
body .metaslider .nivoSlider,
body .metaslider .nivoSlider img,
body .metaslider .rslides,
body .metaslider .rslides li,
body .metaslider .flexslider ul.slides,
body .metaslider .flexslider .slides li,
body .metaslider .flexslider .slides ul,
body .metaslider .flexslider .slides ol,
body .metaslider .flexslider .slides img,
body .metaslider .flexslider .flex-direction-nav,
body .metaslider .flexslider .flex-direction-nav li {
  border: 0;
  margin: 0;
  list-style-type: none;
  list-style: none;
  padding: 0;
  line-height: normal;
  max-width: none;
  max-height: none;
}

.metaslider {
  position: relative;
  z-index: 0;
}

.metaslider.fullwidth {
  overflow: hidden;
}

.metaslider .caption {
  padding: 5px 10px;
  word-wrap: break-word;
}

.metaslider .caption-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #000;
  color: #fff;
  opacity: 0.7;
  margin: 0;
  display: block;
  width: 100%;
  line-height: 1.4em;
}

.metaslider img {
  height: auto;
  padding: 0;
  margin: 0;
  -moz-user-select: none;
}

.metaslider a {
  outline: none;
}

.metaslider.ms-left {
  float: left;
  margin: 0 20px 20px 0;
}

.metaslider.ms-right {
  float: right;
  margin: 0 0 20px 20px;
}

.metaslider li:before,
.metaslider li:after {
  content: "" !important;
  display: none !important;
  bottom: auto !important;
  margin: 0 !important;
}

.metaslider .caption-wrap .caption img {
  width: auto;
}

.metaslider .slides img {
  width: 100%;
  display: block;
}

.metaslider .flexslider {
  background: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  border: 0;
  margin: 0 0 40px;
  max-width: none;
  max-height: none;
}

.metaslider .flex-control-nav {
  border: 0;
  margin: auto;
  list-style-type: none;
  list-style: none;
  padding: 0;
  bottom: -27px;
  line-height: 11px;
  z-index: 2;
}

.metaslider .flex-control-nav li {
  margin: 0;
}

.metaslider .flex-control-nav li a {
  margin: 0 6px;
  padding: 0;
}

.metaslider .flexslider .slides li {
  position: relative;
  height: auto;
}

.metaslider .flex-viewport {
  direction: ltr;
}

.metaslider .flex-direction-nav a {
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.metaslider .flexslider .slides p {
  margin: 0;
}

.metaslider .flexslider.filmstrip {
  margin-top: 10px;
}

.metaslider .flexslider.filmstrip .slides li {
  cursor: pointer;
  opacity: 0.5;
}

.metaslider .flexslider.filmstrip .slides li.flex-active-slide,
.metaslider .flexslider.filmstrip .slides li:hover,
.metaslider .flexslider.filmstrip .slides li:focus {
  opacity: 1 !important;
}

.metaslider .flex-control-thumbs li {
  width: auto;
}

.metaslider ol.flex-control-thumbs img,
#content .metaslider ol.flex-control-thumbs img {
  margin: 10px 5px 0;
  width: auto;
}

.metaslider.nav-hidden .flexslider {
  margin-bottom: 0;
}

.metaslider.nav-hidden.add-margin .flexslider {
  margin-bottom: 40px;
}

.metaslider .flexslider .flex-direction-nav li a:before {
  content: none !important;
}

.metaslider .flexslider .flex-direction-nav li a {
  width: 30px;
  height: 30px;
  border: 0;
  margin: -20px 0 0;
  box-shadow: none !important;
  display: block;
  background-color: transparent;
  background-image: url(https://www.wanderon.in/wp-content/plugins/ml-slider/assets/metaslider/../sliders/flexslider/bg_direction_nav.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999px;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: opacity 0.25s ease-in-out;
  transition: all 0.3s ease;
}

.metaslider .flex-direction-nav .flex-next {
  background-position: left 0;
}

.metaslider .flex-direction-nav .flex-next {
  background-position: right 0;
  text-align: left;
  text-indent: 9999px;
}

.metaslider .flexslider:focus-within .flex-next,
.metaslider .flexslider:hover .flex-next {
  opacity: 0.8;
  right: 5px;
}

.metaslider .flexslider:focus-within .flex-prev,
.metaslider .flexslider:hover .flex-prev {
  opacity: 0.8;
  left: 5px;
  text-indent: -9999px;
}

.metaslider .flexslider:focus-within .flex-next:focus,
.metaslider .flexslider:focus-within .flex-prev:focus,
.metaslider .flexslider:hover .flex-next:hover,
.metaslider .flexslider:hover .flex-prev:hover {
  opacity: 1;
}

.metaslider .flexslider .flex-next:focus,
.metaslider .flexslider .flex-prev:focus {
  outline: -webkit-focus-ring-color auto 5px;
}

.metaslider .flexslider .flex-direction-nav .flex-disabled {
  cursor: default;
  pointer-events: none;
}

.metaslider .flexslider .flex-control-nav a {
  box-shadow: none !important;
}

.metaslider .flexslider .flex-control-nav a:focus {
  outline: -webkit-focus-ring-color auto 5px;
}

.metaslider .flexslider .slides > li {
  position: relative;
}

.metaslider .rslides_nav,
.metaslider .rslides_tabs a {
  box-shadow: none !important;
}

.metaslider .rslides_tabs {
  margin: 0 0 40px;
}

.metaslider .rslides_nav:focus,
.metaslider .rslides_nav:hover {
  color: #fff;
}

div.metaslider .theme-default .nivoSlider {
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}

.metaslider .slider-wrapper .nivo-directionNav a,
.metaslider .slider-wrapper .nivo-controlNav a,
.metaslider .slider-wrapper img {
  border: 0;
  box-shadow: none;
  list-style-type: none;
  list-style: none;
  padding: 0;
  line-height: normal;
  max-width: none;
  max-height: none;
}

div.metaslider .slider-wrapper .nivo-controlNav a {
  transition: none;
}

.metaslider .coin-slider {
  max-width: 100%;
  overflow: hidden;
}

.metaslider .coin-slider .cs-buttons a,
.metaslider .coin-slider > a {
  box-shadow: none !important;
}

.metaslider .coin-slider a[href="javascript:void(0)"] {
  cursor: default !important;
}

.metaslider .theme-default .nivoSlider {
  position: relative;
  -webkit-box-shadow: 0 1px 5px 0 #4a4a4a;
  -moz-box-shadow: 0 1px 5px 0 #4a4a4a;
  box-shadow: 0 1px 5px 0 #4a4a4a;
}

.metaslider .theme-default .nivoSlider img {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.metaslider .theme-default .nivoSlider a {
  border: 0;
  display: block;
}

.metaslider .theme-default .nivo-controlNav {
  text-align: center;
  padding: 15px 0;
  width: 100%;
  z-index: 99;
}

.metaslider .theme-default .nivo-controlNav a {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(https://www.wanderon.in/wp-content/plugins/ml-slider/assets/sliders/nivoslider/themes/default/bullets.png)
    no-repeat;
  text-indent: -9999px;
  border: 0;
  margin: 0 2px;
}

.metaslider .theme-default .nivo-controlNav a.active {
  background-position: 0 -22px;
}

.metaslider .theme-default .nivo-directionNav a {
  display: block;
  width: 30px;
  height: 30px;
  background: url(https://www.wanderon.in/wp-content/plugins/ml-slider/assets/sliders/nivoslider/themes/default/arrows.png)
    no-repeat;
  text-indent: -9999px;
  border: 0;
  opacity: 0;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.metaslider .theme-default:hover .nivo-directionNav a {
  opacity: 1;
}

.metaslider .theme-default a.nivo-nextNav {
  background-position: -30px 0;
  right: 15px;
}

.metaslider .theme-default a.nivo-prevNav {
  left: 15px;
}

.metaslider .theme-default .nivo-caption {
  font-family: Helvetica, Arial, sans-serif;
}

.metaslider .theme-default .nivo-caption a {
  color: #fff;
  border-bottom: 1px dotted #fff;
}

.metaslider .theme-default .nivo-caption a:hover {
  color: #fff;
}

.metaslider .theme-default .nivo-controlNav.nivo-thumbs-enabled {
  width: 100%;
}

.metaslider .theme-default .nivo-controlNav.nivo-thumbs-enabled a {
  width: auto;
  height: auto;
  background: none;
  margin-bottom: 5px;
}

.metaslider .theme-default .nivo-controlNav.nivo-thumbs-enabled img {
  display: block;
  height: auto;
}

#text-block-3 {
  margin-bottom: 0px;
  text-align: left;
}

#text-block-7 {
  margin-bottom: 0px;
  text-align: left;
}

#padding-8 {
  height: 20px;
}

#padding-12 {
  height: 10px;
}

#text-block-13 {
  margin-bottom: 0px;
  text-align: center;
}

#text-block-15 {
  margin-bottom: 0px;
  text-align: center;
}

#text-block-16 {
  margin-bottom: 0px;
  text-align: center;
}

#text-block-18 {
  margin-bottom: 0px;
  text-align: center;
}

#text-block-19 {
  margin-bottom: 0px;
  text-align: center;
}

#text-block-21 {
  margin-bottom: 0px;
  text-align: center;
}

#text-block-22 {
  margin-bottom: 0px;
  text-align: center;
}
